<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="Images/notes_icon.png", type="image/png")
        link(rel="stylesheet", href="styles/bootstrap.min.css")
        link(rel="stylesheet", href="styles/main.css")
        title #{title}
        style .toolbar{text-align: center} h3{text-align:center} a{font-size: 25px;color:brown}
    body
        nav(class="toolbar")
            h1 #{title}

        br
        h3 #{message}
        h3 Please click the option below to go to the main page
        h3 or just wait 
            span(id="timeLeft")
                 
        br
        h3
            a(href="/")| Main Page

    script(src="js/error.js")
        