<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="Images/notes_icon.png", type="image/png")
        link(rel="stylesheet", href="styles/bootstrap.min.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/logInStyle.css")
        link(rel="stylesheet", href="styles/modal.css")
        script(src="js/jquery.min.js")
        title To Do
    body
        nav(class="toolbar")
            img(src="Images/notes_icon.png", class="icon" width="70px" height="70px")
            h1(class="title")|Log In
            ul(class="nav")
                li(class="nav-item active")
                    a(href="sign_in" class="nav-link")|Sign In
                li(class="nav-item active")
                    a(href="contact" class="nav-link")|Contact
            
            <!--only shows for mobile devices-->
            nav(id="nav-mobile" class="navbar navbar-dark bg-dark" style="width:90px")
                button(class="navbar-toggler", style="background:black", data-toggle="collapse",
                    data-target="#navbarExternalContent", aria-controls="navbarExternalContent",
                    aria-expanded="false", aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")

        <!--the menu items for mobile devices-->
        div(class="collapse" id="navbarExternalContent")
            div(class="bg-dark p-4")
                ul(class="nv")
                    li(class="nav-item active")
                        a(href="sign_in" class="nav-link")|Sign In
                    li(class="nav-item active")
                        a(href="contact" class="nav-link")|Contact
        <!--Error Message-->
        if message
            div(class="error-msg")
                h1 #{message}

        h1(class="name-website")|TO DO 
        br
        div(class="form")
            br
            form(action="/log_in", method="post")
                label(id="lbl_username")|Username or Email
                p 
                    input(type="text" id="username" name="username")
                br
                label(id="lbl_password")|Password
                p
                    input(type="password" id="password" name="password")
                br
                button(id="login")|Log In

        <!-- Modal -->
        div(class="modal fade" id="incorrect_passwords")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(id="title-modal" class="modal-title")
                    div(class="modal-body")
                        h5(id="body-modal")
                    div(class="modal-footer")
                        button(type="button" data-dismiss="modal")|Cerrar

    script(src="js/logIn.js")
    script(src="js/jquery.slim.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/modal.js")
    