.title{
    margin-left: 30%
}

img.search_icon{
    float:left;
    margin-left: 33%
}

#search_box{
    float:left;
    width:25%;
    margin-left: 39%
}

.container-lists{
    width: 100%;
    height: 450px;
    padding-left: 5%;
    overflow-y: auto;
}

.add-list{
    width: 15%;
    height: 140px;
    background: rgb(194, 188, 188);
    border-radius: 5%;
    cursor: pointer;
    transition: .7s
}

.add-list:hover{
    background: #fff;
    transition: .7s;
}

.search_box{
    width: 25%;
    margin-left: 35%
}

@media only screen and (max-width:760px){
    .title{
        margin-left: 5%;
    }
    .search_box{
        width: 60%;
        margin-left: 18%
    }
    .add-list{
        width: 30%;
        height: 80px;
    }
    #add_icon{
        width: 100%;
        height: 80px
    }
}